/* GENERAL STYLE */
body {
  height: 100%;
  width: 100%;   
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/*STYLE SECTION1*/
.section1 {
  background-image: url("../Assets/main-bg.jpg");
  background-size: 100vh;
  
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover, contain;

  font-family: "Roboto", sans-serif
}

/*STYLE SECTION1-NAVBAR*/
.section1-navbar {
  background: rgba(0, 0, 0, 0.562);
  padding: 12, 20, 20, 20;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.navbar-logo {
  font-size: 300%;
  color: white;
  padding: 20px;
  text-align: center
}

.navbar-menu {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
  padding-top: 35px;
}

.navbar-account-authentication {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
  padding-top: 35px;
}

.navbar-menu-list {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}


/*STYLE SECTION1-CONTENT*/
.section1-content {
  text-align: center;
  color: white;
}

.section1-title {
  font-weight: bold;
  font-size: 80px;
  padding-top: 200px;
}

.section1-subtitle {
  font-size: 40px;
  padding-top: 30px;
}

.section1-button {
  padding-top: 40px;
  font-weight: bold;
}

.section1-scroll {
  font-size: 12px;
  padding-top: 250px;
}

/*STYLE SECTION2*/
.section2 {
  background-image: url(../Assets/the-games-bg.jpg);
  height: 100vh;
  background-size: cover, contain;
  padding-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif

}

.section2-content {
  text-align: left;
  color: white;
  font-family: "Roboto", sans-serif ;
  letter-spacing: 3px;
  word-spacing: 8px;
  
}

.section2-content-text {
  margin-left: 200px;
  margin-right: 0px;
  font-size: 20px;
}

.section2-content2 {
  font-size: 80px;
}

.section2-carousel {
  margin-left: -110px;
}

/*STYLE SECTION3*/
.section3 {
  background-image: url(../Assets/features.jpg);
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  font-family: "Roboto", sans-serif ;
  letter-spacing: 3px;
  word-spacing: 8px;
}

.section3-content {
  padding-top: 200px;
  font-size: 20px;
}

.section3-content-title {
  font-size: 80px;
  margin-top: -30px;
  margin-bottom: 50px;
}

.section3-content-text{
  margin-left: -25px;
}

.section3-content-subtitle {
  font-size: 40px;
}

.full-circle {
  width: 11px;
  height: 11px;
  background: white;
  border-radius: 50%;
  margin-top: 20px
}

.vertical-line {
  border-left: 1px solid white;
  height: 170px;
  margin-top: -5px;
  margin-left: 5px;
}

.hollow-circle-1 {
  width: 10px;
  height: 10px;
  background: transparent;
  outline: solid white 1px;
  border-radius: 50%;
  margin-top: 0px;
}

.hollow-circle-2 {
  width: 10px;
  height: 10px;
  background: transparent;
  outline: solid white 1px;
  border-radius: 50%;
  margin-top: 97px
}

.features-point {
  color: #c58019;
}

.features-point2 {
  margin-top: 60px;
}

.features-point3 {
  margin-top: 60px;
}

/*STYLE SECTION4*/
.section4 {
  background-image: url(../Assets/requirements.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, contain;

  color: white;
  text-align: center;
} 

.section4-content1 {
  padding-top: 150px;
}

.section4-content2 {
  text-align: left;
  font-size: 80px;
  line-height: 90px;
  padding-top: 50px;
}

.section4-content-table {
  margin-top: 50px;
  color: white !important;
  font-size: 20px;
  line-height: 25px;
}

/*STYLE SECTION5*/
.section5 {
  background-image: url(../Assets/top-score-bg.png);
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover, contain;

  padding-top: ;
  padding-left: 200px;
  
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: white
} 

.section5-content-title {
  margin-top: 300px;
  font-size: 80px;
}

.section5-content-text {
  font-size: 20px;
}

.section5-button {
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px !important;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.text-muted {
  color: white !important;
}

.section5-topscore {
  
}

.card1 {
  margin-top: 100px;
  margin-right: -200px;
  margin-left: 100px;
}

.card2 {
  margin-top: 30px ;
  margin-right: 0px;
  margin-left:-100px;
}

.card3 {
  margin-top: 30px ;
  margin-right: -70px;
  margin-left: ;
}

.card-title {
  padding-top: ;
  color: #c58019;
  font-size: 21px;
}

.card-subtitle {
  color: rgb(112, 112, 112);
}

.section5-twitter {
  padding-top: 20px;
  margin-left: 40px;
  height: 10% !important;
  width: 10% !important;
}

.card-maintext {
  padding-top: 20px;
}

/*STYLE SECTION6*/
.section6 {
  background-image: url(../Assets/newsletter.png);
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover, contain;

  display: flex;

  color: white;

} 

.section6-content {

}



.faded-border{
  margin-left: 200px;
  margin-top: 150px;
}

.section6-content-text {
  margin-left: 200px;
  margin-top: 200px;
  
}

.section6-content-text-1 {
  font-size: 30px;
}

.section6-content-text-2 {
  font-size: 80px;
  line-height: 90px;
  margin-top: 20px;
}

.section6-content-text-3 {
  font-size: 20px;
  margin-top: 20px;
}

.submission-bar {
  padding-top: 50px;
}

.section6-button {
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px !important;
}

/*STYLE FOOTER*/

.footer-text {
  color: white;
  font-size: 8px;
}

hr.footer-line {
  top: 150px;
  border: 1px solid #8C8D8E;
}